@import './_reset.scss';

.cover {
    object-fit: cover;
}

.notifications {
    min-width: 300px;
    position: fixed;
    z-index: 2;
    right: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: transform .3s ease, opacity .5s; 
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateX(200px);
}